& when (@media-common = true) {
    .my-home-page-form {
        width: 700px;
        margin: auto;

        fieldset {
            border: none;
            margin-left: auto;
            margin-right: auto;
            padding-top: 30px;
            width: 70%;
        }

        .group {
            float: left;
            width: 40%;
            margin-left: 35px;
            height: 190px;

            .field {
                margin-bottom: 10px;
            }
        }

        .fieldset-wrapper-title {
            text-align: center;
            padding: 10px 10px;
            border: 1px solid;
        }

        .admin__fieldset-wrapper-content {
            border-left: 1px solid;
            border-right: 1px solid;
            border-bottom: 1px solid;
            height: 350px;
        }

        .fieldset-wrapper {
            .admin__field-group-additional {
                float: left;
                margin: auto;
                width: 345px;
                padding-left: 35px;
            }

            .save.action-basic {
                float: left;
            }
        }
    }
}
